In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:

df = pd.read_csv('train.csv')

In [4]:
df.shape

(404290, 6)

In [5]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [6]:
new_df = df.sample(5000)

In [7]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [8]:
#there is no null value

In [9]:
new_df.duplicated().sum()

0

In [10]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
263541,Where can I meet British Women in Toronto?,How can one meet some British women in Toronto...
91574,How do I gain emotional intelligence and contr...,How do I control emotions..Like Heart Breaking...
49204,Can a man with blood group O negative and a wo...,Ragu dhisai for 16 years?
311172,When I get paid by Paytm by someone how do I t...,How do I transfer Paytm balance to bank account?
46726,What are some instruments used to measure the ...,How speed of wind is measured?

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

# Merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

# Initialize CountVectorizer
cv = CountVectorizer(max_features=3000)

# Fit and transform the questions
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(), 2)

In [12]:

temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(5000, 6000)

In [13]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
263541,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91574,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
311172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46057,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
210568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
385371,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158556,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [15]:

temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
263541,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
91574,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
311172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
46726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [19]:
from sklearn.linear_model import LogisticRegression

# Create a logistic regression classifier
logreg = LogisticRegression()

# Fit the model to the training data
logreg.fit(X_train, y_train)

# Predict on the test data
y_pred = logreg.predict(X_test)

# Evaluate the model
accuracy = logreg.score(X_test, y_test)
print("Logistic Regression Accuracy:", accuracy)

Logistic Regression Accuracy: 0.661

C:\Users\no name\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [20]:
from sklearn.ensemble import RandomForestClassifier

# Create a random forest classifier
rf = RandomForestClassifier()

# Fit the model to the training data
rf.fit(X_train, y_train)

# Predict on the test data
y_pred = rf.predict(X_test)

# Evaluate the model
accuracy = rf.score(X_test, y_test)
print("Random Forest Accuracy:", accuracy)

Random Forest Accuracy: 0.717

In [21]:
import xgboost as xgb

# Create an XGBoost classifier
xgb_clf = xgb.XGBClassifier()

# Fit the model to the training data
xgb_clf.fit(X_train, y_train)

# Predict on the test data
y_pred = xgb_clf.predict(X_test)

# Evaluate the model
accuracy = xgb_clf.score(X_test, y_test)
print("XGBoost Accuracy:", accuracy)

XGBoost Accuracy: 0.68

In [22]:
from sklearn.svm import SVC

# Create an SVM classifier
svm = SVC()

# Fit the model to the training data
svm.fit(X_train, y_train)

# Predict on the test data
y_pred = svm.predict(X_test)

# Evaluate the model
accuracy = svm.score(X_test, y_test)
print("SVM Accuracy:", accuracy)

SVM Accuracy: 0.707

In [23]:

from sklearn.metrics import confusion_matrix

# Compute the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Print the confusion matrix
print("Confusion Matrix - Logistic Regression:")
print(cm)

Confusion Matrix - Logistic Regression:
[[581  58]
 [235 126]]